<app-content>
    <div class="app-title">
        <div>
            <h1>
                <i class="fa fa-users"></i> User List</h1>

        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">
                <i class="fa fa-home fa-lg"></i>
            </li>
            <li class="breadcrumb-item">
                <a href="#">User list</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <!-- ส่วนหัว -->
                <div class="tile-title-w-btn">
                    <h3 class="title">
                        <i class="fa fa-list"></i> User List
                    </h3>
                    <!-- ค้นหา -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="btn-group" dropdown>
                                <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
                              {{searchType.value}} <span class="caret"></span>
                            </button>
                                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                                    <li *ngFor="let item of searchTypeItem" role="menuitem"><a class="dropdown-item" (click)="searchType = item">{{item.value}}</a></li>
                                </ul>
                            </div>

                            <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Search users">

                            <div class="input-group-append">
                                <button (click)="onSearch()" class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Date&Time</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of Users.user">
                                    <td>{{item.firstname}}</td>
                                    <td>{{item.lastname}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{item.role}}</td>
                                    <td>{{item.createdAt | date}}</td>
                                    <td>
                                        <div class="row" *ngIf="userLogin.role === role.admin">
                                            <button type="button" class="btn btn-outline-warning btn-sm" (click)="onEditUser(item._id)"> &nbsp;<i class="fa fa-edit"></i></button>
                                            <span>&nbsp; &nbsp;</span>
                                            <button type="button" class="btn btn-outline-danger btn-sm" (click)="onDeleteUser(item._id)">&nbsp;<i class="fa fa-trash"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="7">
                                        จำนวนสมาชิกทั้งหมด {{Users.usertotal}} คน
                                    </th>
                                </tr>
                            </tfoot>
                        </table>

                        <pagination [(ngModel)]="startPage" [itemsPerPage]="limitPage" (pageChanged)="onPageChange($event)" [rotate]="false" [maxSize]="10" previousText="Previous" nextText="Next" [totalItems]="Users.usertotal"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-content>
