<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user">
        <img *ngIf="User.image" class="app-sidebar__user-avatar" [src]="User.image" alt="User Image">
        <img *ngIf="!User.image" class="app-sidebar__user-avatar" src="assets/images/user.png" alt="User Image">
        <div style="width: 120px;">
            <p class="app-sidebar__user-name">{{User.firstname}} {{User.lastname}}</p>
            <p class="app-sidebar__user-designation">{{User.role}}</p>
        </div>
    </div>
    <ul class="app-menu">
        <li><a class="app-menu__item " [routerLink]="['/',AppURL.Authen,AuthenURL.Dashboard]" routerLinkActive="active"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
        <li class="treeview" routerLinkActive="is-expanded"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-users"></i><span class="app-menu__label">Users</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item" [routerLink]="['/',AppURL.Authen,AuthenURL.UserList]" routerLinkActive="active"><i class="icon fa fa-circle-o"></i> Users list</a></li>
                <li><a class="treeview-item" [routerLink]="['/',AppURL.Authen,AuthenURL.AddUser]" routerLinkActive="active"><i class="icon fa fa-circle-o"></i> Add User</a></li>
            </ul>
        </li>

    </ul>
</aside>