<app-content>
    <div class="app-title">
        <div>
            <h1><i class="fa fa-user"></i> Product</h1>

        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fas fa-box-open"></i></li>
            <li class="breadcrumb-item"><a href="#">Product</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-title-w-btn">
                    <h3 class="title"><i class="fas fa-box-open"></i> Product</h3>
                    <p></p>

                    <hr>
                    <div class="tile-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</app-content>
