<app-content>
    <div class="app-title">
        <div>
            <h1><i class="fa fa-user"></i> Profile</h1>
            <p>Edait Profile</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-user fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">profile</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-title-w-btn">
                    <h3 class="title"><i class="fa fa-edit"></i> Edit Profile</h3>
                    <p>
                        <button type="button" class="btn btn-primary" (click)="openModal(template)"><i class="fa fa-key"></i>Change Password</button></p>
                </div>
                <hr>
                <div class="tile-body">
                    <form [formGroup]="form" (submit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <img *ngIf="!form.value.image" src="assets/images/user.png" alt="" class="img-fluid">
                                <img *ngIf="form.value.image" [src]="form.value.image" alt="" class="img-fluid">
                                <div class="form-group mt-3">
                                    <button class="btn btn-primary" type="button" (click)="fileimg.click()"><i class="fa fa-image"> Seclect</i></button>
                                    <input type="file" (change)="onConvertImage(fileimg)" #fileimg>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Firstname : </label>
                                            <input type="text" class="form-control" formControlName="firstname">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Lastnamename : </label>
                                            <input type="text" class="form-control" formControlName="lastname">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Email : </label>
                                    <input type="email" class="form-control" formControlName="email">
                                </div>
                                <label for="">User Satus:</label>
                                <input type="text" class="form-control-plaintext w-25" formControlName="role">
                            </div>
                        </div>
                        <hr>
                        <div class="form-group text-right">
                            <button class="btn btn-primary"><i class="fa fa-save"></i>Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</app-content>

<ng-template #template>
    <app-chang-password [modalRef]="modalRef"></app-chang-password>
</ng-template>