<section class="material-half-bg">
    <div class="cover"></div>
</section>
<section class="login-content">
    <div class="logo">
        <h1>Vali</h1>
    </div>
    <div class="login-box" style="height: 550px;">
        <form class="login-form" [formGroup]="form" (submit)="onSubmit()">
            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user-plus"></i>SIGN UP</h3>
            <div class="form-group">
                <label class="control-label">FIRSTNAME</label>
                <input class="form-control" type="text" placeholder="Firstname" autofocus formControlName="firstname">
            </div>
            <div class="form-group">
                <label class="control-label">LASTNAME</label>
                <input class="form-control" type="text" placeholder="Lastname" formControlName="lastname">
            </div>
            <div class="form-group">
                <label class="control-label">EMAIL</label>
                <input class="form-control" type="email" placeholder="Email" formControlName="email">
            </div>
            <div class="form-group">
                <label class="control-label">PASSWORD</label>
                <input class="form-control" type="password" placeholder="Password" formControlName="password">
            </div>
            <div class="form-group btn-container mt-4">
                <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-user-plus fa-lg fa-fw"></i>SIGN UP</button>
            </div>
            <div class="text-center mt-3">
                <span> have a account? <a [routerLink]="['/login']">Login</a></span>
            </div>
        </form>
    </div>
</section>